
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
.container{


    height: auto 100%;
    width: auto 100%;
    background-image: linear-gradient(to right,#7dfd92,#a6e4ee);
}



body {

    font-family: 'Kumbh Sans', sans-serif;
    background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 300px;
    background: #ffffff;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgb(105, 86, 86) 0px 7px 29px 0px;
}

.firstCard{
    margin-top: 20px;
    height: 70px;
    width: 175px;
    border-radius: 20px;
    background-color: rgb(252, 215, 4);
    color: white;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgb(105, 86, 86) 0px 4.5px 15px -3px;

}

.card .card-header {
    flex: 1;
    margin: auto;
}

.card .card-header img {
    width: 150px;
}

.card .card-content {
    flex: 1;
    margin: auto;
    text-align: left;
}


.card .card-content img {
    border-radius: 50%;
    transform: translateY(-50%);
    border: 40px solid #6e5b5b;
}

.card .card-content p {
    color: hsl(0, 0%, 0%);
    font-size: 14px;
}

.card .card-content p:first-of-type {
    font-weight: normal;
    font-size: 14px;
    color: hsl(0, 0%, 0%);
}

.card .card-content p:first-of-type span {
    color: hsl(0, 0%, 0%);
    font-weight: normal;
}

.card .card-footer {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #17b475;
    color: hsl(229, 23%, 23%);
}

.card .card-footer .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card .card-footer .footer-item .status {
    font-size: 20px;
    font-weight: 700;
}

.card .card-footer .footer-item .item-name {
    color: hsl(227, 10%, 46%);
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 10px;
}

.attribution {
    line-height: 3rem;
    font-size: 1rem;
    text-align: center;
    color: hsl(229, 23%, 23%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.card button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.card .button{
    float: right;
    margin-right: 20px;
    color: #ffffff;

}

.talents{
    margin: 50px;
}

.talents button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border-color: #500d5d;
    background-color: #500d5d;
    color: #ffffff;
}

@media only screen and (max-width: 576px) {
    .firstCard{
        width: 200px;
    }
}
