.form{
    background-color: #520556;
    font-size: 15px;
    color: white;
    height: 70px;
    text-align: center;
}

h2{

    padding-top: 10px;
}

.card-content{
    flex: 1;
    margin: auto;
    text-align: justify;

}

.card{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: rgb(105, 86, 86) 0px 4.5px 15px -3px;
}

.seccion{
    text-align: center;
}
