body {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #ffffff, #e3c8d3);

}

.navbar {
    background-color: #581845 !important;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.skin-color {
    color: black !important;
    border-color: #faf1df !important;
    background-color: #faf1df !important;
}

.skin-color:hover {
    color: #faf1df !important;
    background-color: #d8cab7 !important;
}

.blue-color{
    border-color: #142d4c !important;
    background-color: #142d4c !important;
}

.blue-color:hover{
    background-color: #28568d !important;
}

.grey-color{
    border-color: #333333 !important;
    background-color: #333333 !important;
}

.grey-color:hover{
    border-color: #5c5c5c !important;
    background-color: #5c5c5c !important;
}

.shadow-eb {
    border: none;
    transition: all 0.25s;
    box-shadow: 0 8px 8px rgb(0, 0, 0, 0.2);
}

.transition:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.transparent-75{
    background-color: rgb(255, 255, 255, 0.75) !important;
}

.transparent-100 {
    background-color: rgb(255, 255, 255, 0) !important;
}

.vertical-center {
    min-height: calc(100% - (82px + 1.5rem));
    /* Fallback for browsers do NOT support vh unit */
    min-height: calc(100vh - (82px + 1.5rem));
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.margin-navbar{
    margin-top: calc(82px + 1.5rem);
}

.noRound{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

@media screen and (max-width: 576px) {
    .margin-navbar{
        margin-top: calc(102.86px + 1.5rem);
    }

    .vertical-center{
        min-height: calc(100% - (102.86px + 1.5rem));
    min-height: calc(100vh - (102.86px + 1.5rem));
    }
}
